@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231 15% 18%;

    --card: 0 0% 100%;
    --card-foreground: 231 15% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 231 15% 18%;

    --primary: 16 97% 43%;
    --primary-foreground: 210 40% 98%;

    --secondary: 231 15% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 231 15% 18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 16 97% 43%;

    --radius: 0.5rem;

    --tertiary: 228 14% 25%;
    --tertiary-foreground: 210 40% 98%;
  }

  .dark {
    --background: 231 15% 18%;
    --foreground: 210 40% 98%;

    --card: 231 15% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 231 15% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 16 97% 43%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 16 97% 43%;

    --tertiary: 228 14% 25%;
    --tertiary-foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Add smooth transitions for interactive elements */
a,
button {
  transition: all 0.2s ease-in-out;
}

/* Custom focus styles */
input:focus,
textarea:focus {
  outline: 2px solid #d93d04;
  outline-offset: 2px;
}

